@page "/enrollment"

<h3 class="text-center" style="font-weight:bold;">SHOW ENROLLMENT</h3>
<br>

  <a href="/enrollment" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tambah Enrollment">
    <span class="oi oi-plus" aria-hidden="true"></span> Tambah Enrollment
  </a>

<br><br>

@* Tabel Enrollments *@
<table class="table table-striped table-hover">

  <thead>
    <tr>
        <th>CourseID</th>
        <th>Title</th>
        <th>Credits</th>
    </tr>
  </thead>

  <tbody>
        <tr>
            <td>1</td>
            <td>Web Programming</td>
            <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mobile Programming</td>
            <td>3</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Backend Programming</td>
            <td>3</td>
        </tr>
  </tbody>

</table>
@* Tabel Enrollments *@
<a href="/mahasiswa" class="btn btn-secondary">Kembali</a>