@page "/"

<div class="jumbotron">
    <h1 class="display-4 text-center">Selamat datang di UAS Pemrograman Frontend!</h1>
    <hr class="my-4">
    <label class="col-md-12">Nama : Julio Gerald Premaldy Philippus</label>
    <label class="col-md-12">NIM : 72180203</label>
</div>
